{% extends  'base.html.twig' %}

{% block title %}Add Surgeries{% endblock %}

{% block body %}

    <!-- Page Specifying Meta Data -->
    {% include "meta_data.html.twig" %}
        
    <!-- CSS Links -->
    {% include "css_part.html.twig" %}

    <!-- Remove botdetect link -->
    {% include "remove_botdetect_link.html.twig" %}

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block col-auto">
                        <a href="/" class="nav-link" style="font-size: 17px;">Home</a>
                    </li>
                </ul>

                <!-- Search Form -->
                {% include "search_form.html.twig" %}
        
                <!-- Right navbar links -->
                {% include "navbar_link_logout.html.twig" %}

            </nav>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                {% include "brand_logo.html.twig" %}
                <!-- Sidebar -->
                <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                        <img src="{{ asset('dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            {% if app.user.username == null %}
                                <a href="#" class="d-block">{{ app.user.email }}</a>
                            {% else %}
                                <a href="#" class="d-block">{{ app.user.username }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                            <li class="nav-item has-treeview">
                                <a href="/" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="/clinic" class="nav-link">
                                    <i class="nav-icon fas fa-stethoscope"></i>
                                    <p>Clinic</p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-clinic-medical"></i>
                                    <p>Ward Addmission<i class="right fas fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <div class="container1">
                                            <a href="/patient" class="nav-link">
                                            <i class="nav-icon fas fa-user-injured"></i>
                                                <p>Patients</p>
                                            </a>
                                        </div>    
                                    </li>
                                    <li class="nav-item">
                                        <div class="container1">
                                            <a href="/doctor" class="nav-link">
                                            <i class="nav-icon fas fa-user-md"></i>
                                                <p>Doctors</p>
                                            </a>
                                        </div>    
                                    </li>
                                    <li class="nav-item">
                                        <div class="container1">
                                            <a href="/nurse" class="nav-link">
                                            <i class="nav-icon fas fa-user-nurse"></i>
                                                <p>Nurses</p>
                                            </a>
                                        </div>    
                                    </li>
                                    <li class="nav-item">
                                        <div class="container1">
                                            <a href="/consultant" class="nav-link">
                                            <i class="nav-icon fas fa-user-tie"></i>
                                                <p>Consultants</p>
                                            </a>
                                        </div>    
                                    </li>
                                    <li class="nav-item">
                                        <div class="container1">
                                            <a href="/technician" class="nav-link">
                                            <i class="nav-icon fas fa-user"></i>
                                                <p>Technicians</p>
                                            </a>
                                        </div>    
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="/icu" class="nav-link">
                                    <i class="nav-icon fas fa-procedures"></i>
                                    <p>ICU</p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="/surgery" class="nav-link active">
                                    <i class="nav-icon fas fa-syringe"></i>
                                    <p>Surgery</p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="/discharge" class="nav-link">
                                    <i class="nav-icon far fa-plus-square"></i>
                                    <p>Discharge</p>
                                </a>   
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="{{ path('logout') }}" class="nav-link">
                                    <i class="nav-icon fas fa-sign-out-alt"></i>
                                    <p>Logout</p>
                                </a>   
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">                 
                    {% include "page_header_nav.html.twig" %}
                        
                    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('images/bg_7.jpg') }}');" data-stellar-background-ratio="0.5">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row no-gutters slider-text align-items-center justify-content-center">
                                <div class="col-md-9 ftco-animate text-center">
                                    <h2 class="breadcrumb-item"><b>Surgery's details</b></h2>
                                </div>
                            </div>
                        </div>
                    </section>
		
	                <section class="ftco-section">
	                	<div class="container1">
                            <div class="card card-4">
                                <div class="card-body">
                                    <h4 class="title">Surgery Information</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12 m-md-auto ftco-animate">	   
                                        {{ form_start(form) }}  
                                            <div class="form-row">  
                                                <div class="form-group col-md-9">
                                                    <label class="label">Name of Surgery</label>
                                                    {{ form_row(form.SurgeryName) }}
                                                </div> 
                                                <div class="form-group col-md-3">
                                                    <label class="label">Priority of Surgery</label>
                                                    {{ form_row(form.priority) }}
                                                </div>    
                                            </div>
                                            <div class="form-row">             
                                                <div class="form-group col-md-6">
                                                    <label class="label">Name of Patient</label>
                                                    {{ form_row(form.Patient) }}
                                                </div>    
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label class="label">Head of the Doctor</label>
                                                    {{ form_row(form.DoctorMain) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="label">Assistant Doctor</label>
                                                    {{ form_row(form.DoctorFAssistant) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="label">Doctor Anaesthetist</label>
                                                    {{ form_row(form.DoctorSAssistant) }}
                                                </div>
                                            </div> 
                                            <div class="form-row">   
                                                <div class="form-group col-md-3">
                                                    <label class="label">Head of the Nurse</label>
                                                    {{ form_row(form.NurseMain) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="label">Assistant Doctor</label>
                                                    {{ form_row(form.NurseFAssistant) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="label">Assistant Doctor</label>
                                                    {{ form_row(form.NurseSAssistant) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="label">Nurse Anaesthetist</label>
                                                    {{ form_row(form.NurseTAssistant) }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label class="label">Head of the Consultant</label>
                                                    {{ form_row(form.ConsultantMain) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="label">Assistant Cosultant</label>
                                                    {{ form_row(form.ConsultantAssistant) }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label class="label">Head of the Technician</label>
                                                    {{ form_row(form.TechnicianMain) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="label">Assistant Technician</label>
                                                    {{ form_row(form.TechnicianAssistant) }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label class="label">Surgery Time</label>
                                                    {{ form_row(form.time) }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label class="label">Surgery Date</label>
                                                    {{ form_row(form.date) }}
                                                </div>
                                            </div>    
                                            
                                            {{ form_widget(form) }}
                                            {{ form_end(form) }}
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </section>

                    {% include "footer.html.twig" %}

                </div><!-- /.content-header -->    
            </div>
            <!-- /.content-wrapper -->  

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
    </body>

    <!-- Javascript Links -->
    {% include "js_part.html.twig" %}

{% endblock %}
